@page
@model RentWeb.Pages.Admin.CatalogItems.IndexModel


<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary"><b>Перечень инструментов в каталоге</b></h2>
		</div>
		<div class="col-6 text-end">
			<a asp-page="upsert" class="btn btn-warning">
				<i class="bi bi-plus-square"></i> &nbsp;Создать новый инструмент
			</a>
		</div>
	</div>

	<br /><br />

	<table id="DT_load" class=" table table-bordered table-striped" style="width=100%">
		<thead>
			<tr>
				<th>Наименование</th>
				<th>Цена</th>
				<th>Категория</th>
				<th>Источник питания</th>

				<th></th>
			</tr>
		</thead>
		
	</table>
</div>

@section Scripts{
	<script src="~/js/catalogItem.js"></script>
}
