@page
@model RentWeb.Pages.Admin.PowerTypes.IndexModel


<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary"><b>Перечень источников питания</b></h2>
		</div>
		<div class="col-6 text-end">
			<a asp-page="create" class="btn btn-warning">
				<i class="bi bi-plus-square"></i> &nbsp;Создать новый источник питания
			</a>
		</div>
	</div>

	<br /><br />

	<table class=" table table-bordered table-striped" style="width=100%">
		<thead>
			<tr>
				<th style="color: black">
					Наименование источника питания
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var obj in Model.PowerTypes)
			{
				<tr>
					<td width="50%">@obj.Name</td>
					<td>
						<div class="w-75 btn-group" role="group">
							<a asp-page="Edit" asp-route-id="@obj.Id" class="btn btn-warning mx-2">
								<i class="bi bi-pencil-square">&nbsp;Редактировать</i>
							</a>
							<a asp-page="Delete" asp-route-id="@obj.Id" class="btn btn-outline-danger mx-2">
								<i class="bi bi-trash-fill">&nbsp;Удалить</i>
							</a>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
